[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
rdflib = ">=4.2.2"
connexion = { extras = ['swagger-ui'], version = "==2.7.0"}
PyYAML = ">=3.13"

[requires]
python_version = "3.7"
